@import 'nullstyle.scss';
body{
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.header {
  background-color: #eee;
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  &__logo{
    flex: 0 0 172px;
  }
  &__nav {
  }

  &__menu {
    display: flex;
    li {
      padding: 5px 15px;
      a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
      }
      a:hover {
        color: blue;
      }
    }
  }
}
.content {
  margin: 30px 0;
  flex: 1 1 auto;
  h1 {
    font-size: 24px;
  }
  &__title{
    text-align: center;
  }
}

.footer {
  background-color: #eee;

  &__info {
    margin: 30px 0;
    text-align: center;
  }
}
/* ---------------------------------------------------lesson 1 ------*/
.multitable__body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  .multitable__item {
    padding: 10px;
    width: calc(20% - 2px);
    border: 1px solid #ccc;
    text-align: center;
  }
}
/* ---------------------------------------------------lesson 2 ------*/

.red {color:red;}
.green {color:green;}
.yellow {color:yellow;}
.blue {color:blue;}

/*---------------------------------------------lesson 3-------------------*/
.output {
  font-size: 20px;
  padding: 50px;
  text-align: center;
}
form.main-form {
  margin: 30px 0;
  font-size: 18px;
  label {
    input#string.main-form__input {
      border: 1px solid orange;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 22px;
      line-height: 26px;
    }
  }
}
.btn {
  display: inline-block;
  background-color: rgba(255,255,255, 0.2);
  border: 1px solid orange;
  font-size: 22px;
  line-height: 26px;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 30px 0 0 0;
}